services:
  mariadb:
    container_name: mariadb
    image: mariadb //:1 poner esto para que no use por defecto la etiqueta lates (tamiben en los otros 2 serivcios)
    networks:
      - inception

    #context indicates where's the dockerfile of the service
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    env_file : .env

    #this path indicates where to mount the volume
   
    volumes:
      - mariadb:/var/lib/mysql
    
    restart: unless-stopped
    expose:
      - "3306"
  nginx:
    container_name: nginx
    image: nginx

    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception

    depends_on:
      - wordpress
    build: 
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "443:443"
    restart: on-failure
  wordpress:
    container_name: wordpress
    image: wordpress
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    build: 
      context: requirements/wordpress
      dockerfile: Dockerfile

    depends_on:
      - mariadb
    restart: on-failure
    expose:
      - "9000"

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      #where to save the volume on the *host* machine
      device: '/home/irlozano/data/wordpress'
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/irlozano/data/mariadb'

networks:
 inception:
  driver: bridge