[mysqld]
#where to store the database:
datadir = /var/lib/mysql
#the next file does not exist by default, it is created once sql is running
socket  = /run/mysqld/mysqld.sock
#accept connections from every IP:
bind_address=*
port = 3306
user = mysql
